<section>
  <form action="https://formspree.io/annika@vuokrattavastudio.com" method="POST" class="contact-form">
    <h2>Jätä yhteystietosi, niin otamme sinuun yhteyttä!</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Name">Nimi</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Matti Meikäläinen" required>
      </div>
      <div class="form-group col-md-6">
        <label for="Organization">Yritys</label>
        <input type="text" class="form-control" id="Organization" name="Organization" placeholder="Firma Oy" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Email">Sähköposti</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="matti.meikalainen@firma.fi" required>
      </div>
      <div class="form-group col-md-6">
        <label for="Tel">Puhelin</label>
        <input type="tel" class="form-control" id="Tel" name="Phone" placeholder="+358 40 123 4567" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Message">Viesti (vapaaehtoinen)</label>
      <textarea type="text" class="form-control" name="Message" id="Message" placeholder=""></textarea>
    </div>
    <button type="submit" class="btn">Lähetä</button>
  </form>
</section>
