<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/{{ i18n "link" }}">
      <img src="/images/logo.png" height="32px" alt="Go to front page">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {{ range first 6 .Site.Menus.nav.ByWeight }}
          {{ if .HasChildren }}
          <div class="multi-node">
            <a href="{{.URL}}" class="nav-item nav-link {{ if or ($.IsMenuCurrent "nav" .) ($.HasMenuCurrent "nav" .) }}active{{ end }}">{{ .Name }}</a>
            <div class="sub-menu">
              {{ range .Children }}
              <a href="{{.URL}}" class="nav-item nav-link {{ if or ($.HasMenuCurrent "nav" .) ($.HasMenuCurrent "nav" .) }}active{{ end }}">{{ .Name }}</a>
            {{ end }}
            </div>
          </div>
          {{ else }}
            <a href="{{.URL}}" class="nav-item nav-link {{ if or ($.IsMenuCurrent "nav" .) ($.HasMenuCurrent "nav" .) }}active{{ end }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
        <a class="nav-item nav-link booking-button" href="https://slotti.fi/booking/studioempire/">{{ i18n "booking" }}</a>
      </div>
    </div>
  </div>
</nav>
