<nav class="navbar fixed-top navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" height="32px" alt="Go to front page">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/palvelut">Palvelut</a>
        <a class="nav-item nav-link" href="/laitteet-ja-kalusto">Laitteet ja kalusto</a>
        <a class="nav-item nav-link" href="/hinnasto">Hinnasto</a>
        <a class="nav-item nav-link" href="/yhteystiedot">Yhteystiedot</a>
        <a class="nav-item nav-link" href="/blogi">Blogi</a>
        <a class="nav-item nav-link booking-button" href="https://slotti.fi/booking/studioempire/">Varaa nyt!</a>
      </div>
    </div>
  </div>
</nav>
