<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ .Params.title }} | {{ $.Site.Title }}</title>
  
  <meta property="og:url" content="https://www.vuokrattavastudio.com{{ .Permalink }}" />
  
  {{ if .Params.description }}
  <meta name="description" content="{{ .Params.description }}">
  <meta property="og:description" content="{{ .Params.description }}">
  {{ else }}
  <meta name="description" content="{{ .Summary }}">
  <meta property="og:description" content="{{ .Summary }}">
  {{ end }}
  <meta property="og:image" content="{{ .Params.og_img }}">
  <link rel="canonical" href="https://www.vuokrattavastudio.com{{ .Permalink }}"/>
  
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main>
  
    {{ block "main" . }}{{end}}

  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
