<section class="events">
  <div class="container">
    <h2>Tapahtumat</h2>
    <div class="row">
      {{range .Params.events }}
      <div class="col-md-4 event-card">
        <div class="event-card-inner">
          <div class="date-container">
            <p class="month">
              {{ dateFormat "January" .date }}
            </p>
            <p class="day">
              {{ dateFormat "02" .date }}
            </p>
          </div>
          <div class="center-horizontally-container">
            <h3>{{ .title }}</h3>
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
