<section class="blog">
  <div class="container small">
    <h1 class="description-header">{{ .Params.Title }}</h1>
    
    {{ range ((.Data.Pages).ByParam "date") }}
    {{ $altText := .Params.alt}}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner ) }}
    <a class="row" href="{{ .RelPermalink }}">
        <div class="col-md-5 blog-thumbnail-container">
          <img class="blog-thumbnail" src="{{ $imageResource.RelPermalink }}" alt="{{ $altText }}">
        </div>
        <div class="col-md-7 blog-summary-container">
          <strong>{{ .Date.Format " 2.1.2006"}}</strong>
          <h2>{{ .Params.title }}</h2>
          <p>{{ .Summary }}</p>
          <span class="read-more">Lue lisää</span>
        </div>
      </a>
    {{ end }}
  </div>
</section>
