<section class="bread-partial">
  <div class="container">
    <h1 class="description-header">{{ .Params.Title }}</h1>
    <div class="row">
      <div class="col-md-5 pricing">
      {{range .Params.prices }}
        <div class="pricing-segment">
          <h2 class="pricing-title">{{ .headline }}</h2>
          <p>{{ .description | markdownify }}</p>
        </div>
      {{ end }}
      </div>
      <div class="col-md-7">
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
