<section class="production">
  <div class="container small">
    <h2>{{ .Params.quote_headline }}</h2>
      {{range .Params.quotes }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .banner ) }}
        {{ $resizedImage := $imageResource.Fill "226x226 q80"}}
        {{ if eq .alignment "left" }}
          <div class="row staff-row">
            <div class="col-sm-4 staff-picture-container">
              <img class="staff-picture" src="{{ $resizedImage.RelPermalink }}" alt="{{ .alt }}">
            </div>
            <div class="col-sm-8 order-last contain-vertically">
              <div class="align-left">
                <p>{{ .quote | markdownify }}</p>
              </div>
            </div>
          </div>
        {{ else }}
        <div class="row staff-row">
          <div class="col-sm-8 order-last order-sm-first contain-vertically">
            <div class="align-right">
              <p>{{ .quote | markdownify }}</p>
            </div>
          </div>
          <div class="col-sm-4 staff-picture-container">
            <img class="staff-picture" src="{{ $resizedImage.RelPermalink }}" alt="{{ .alt }}">
          </div>
        </div>
        {{ end }}
      {{ end }}
  </div>
</section>
