.business-revolution {
  background-color: #CE3D11;
  color: $white-color;
  h1 {
    font-family: $bread-font;
    font-size: calc(20px + 2vw);
  }
  p, a {
    color: $white-color;
    img {
      max-width: 384px;
    }
  }
}
.business-revolution-hero {
  img.front-hero-image {
    margin-top: 60px;
    height: 100%;
    object-fit: fill;
  }
}

.social-media {
  padding: $size-l 0;
  .facebook-container {
    .fb-page {
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: $size-m;
    }
  }
}
