$bread-font: 'cochin', serif;
$header-font: 'The Athalita', serif;

$yellow-color: #F9D769;
$gray-color: #7C7C7C;
$black-color: #000000;
$white-color: #FFFFFF;

$white-color-semi-transparent: #FFFFFFAA;

$size-xs: 0.5rem;
$size-s: 1rem;
$size-sm: 1.5rem;
$size-m: 2rem;
$size-ml: 4rem;
$size-l: 6rem;
$size-xl: 8rem;

$border-radius: $size-s 0 0 0;

@font-face {
  font-family: The Athalita;
  font-display: fallback;
  src: url('/fonts/The Athalita.ttf') format('truetype');
}

@font-face {
  font-family: Cochin;
  font-display: fallback;
  src: url('/fonts/Cochin-LT-Font.ttf') format('truetype');
}

