.contact {
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: center;
  h1 {
    margin-top:$size-m
  }
  h2 {
    font-family: $bread-font;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom:$size-xs;
  }
}

.staff-row {
  &:last-of-type {
    margin-bottom: $size-xl;
  }
  .contain-vertically {
    display: flex;
    align-items: center;
    .align-left, .align-right {
      font-size: 1.25rem;
      width: 100%;
    }
    .align-right {
      text-align: right;
    }
  }
  .staff-picture {
    width: 100%;
    border-radius: 50%;
  }
}

@media (max-width: 576px) {
  .staff-row {
    &:not(:last-child) {
      margin-bottom: $size-m;
    }
    .contain-vertically {
      .align-left, .align-right {
        text-align: center;
      }
    }
    .staff-picture {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 200px;
      margin-bottom: $size-sm;
    }
  }
}
