.equipment {
  padding-bottom: $size-l;
  .equipment-segment {
    &:nth-of-type(odd) {
      border-right: 2px solid $yellow-color;
      .equipment-segment-inner {
        padding-right: $size-sm;
        direction:rtl;
        text-align: right;
        h2 {
          margin-bottom: $size-m;
          text-align: right;
          padding-right: $size-s;
        }
      }
    }
    &:nth-of-type(even) {
      border-left: 2px solid $yellow-color;
      .equipment-segment-inner {
        padding-left: $size-sm;
        h2 {
          margin-bottom: $size-m;
          text-align: left;
          padding-left: $size-s;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .equipment {
    .container {
      .equipment-segment {
        border: none;
        margin-bottom: $size-ml;
        .equipment-segment-inner {
          direction:ltr;
          text-align: left;
          padding: 0;
          h2 {
            padding-left: $size-s;
            text-align: left;
          }
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

