.navbar {
  background-color: $white-color;
  opacity: 0.9;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .navbar-brand {
  }
  .navbar-nav {
    .booking-button {
      background-color: $yellow-color;
      margin-left: $size-xs
    }
    .nav-item.nav-link {
      color: $black-color;
      text-decoration: none;
      &.active {
        text-decoration: underline;
        text-decoration-color: $yellow-color;
      }
      &:hover {
      opacity: 0.7;
    }
    }
  }
}

@media (max-width: 767px) {
  .navbar-expand-md {
    .navbar-nav {
      .booking-button {
        margin-left: 0;
      }
      .nav-item.nav-link {
        border-bottom: $yellow-color solid 1px;
        padding: $size-s;
      }
    }
  }
}
