.navbar {
  background-color: $white-color-semi-transparent;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 0;
  border-bottom: 1px $yellow-color solid;
  input {
    display: none;
  }
  input[type="checkbox"]:checked ~ .collapse {
    display: block;
  }
  .navbar-toggler {
    margin: 0;
    -webkit-appearance: none;
  }
  .navbar-nav {
    .multi-node {
      .sub-menu {
        display: none;
        position: fixed;
        top: 64px;
        border: 1px $yellow-color solid;
        border-top: none;
        background-color: $white-color-semi-transparent;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        border-radius: 0 0 0 1rem;
        &:hover {
          display: block;
        }
        .nav-item.nav-link {
          padding: 0.5rem;
          &.active {
            background-color: $yellow-color;
          }
          &:last-of-type {
            padding-bottom: 0.75rem;
            border-radius: 0 0 0 1rem;
          }
        }
      }
    }
    .nav-item.nav-link {
      color: $black-color;
      text-decoration: none;
      padding: 1.25rem 0.5rem;
      &.active {
        background-color: $yellow-color;
      }
      &:hover {
        opacity: 1;
        text-decoration: underline;
        text-decoration-color: $yellow-color;
        & + div {
          display: block;
        }
      }
      &.booking-button {
        padding: 0.5rem;
        margin:  0.75rem 0 0.75rem 0.75rem;
        background-color: $yellow-color;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0.5rem;
    .navbar-nav {
      .multi-node {
        .sub-menu {
          display: block;
          border: none;
          position: relative;
          top: 0;
          background-color: transparent;
          backdrop-filter: none;
          .nav-item.nav-link {
            margin-left: 1.5rem;
            &:last-of-type {
              border-radius: 0;
              padding: .5rem .5rem 0.5rem 2rem;
              margin-left: 0;
            }
          }
        }
      }
      .nav-item.nav-link {
        border-bottom: $gray-color solid 1px;
        padding: $size-s;
        &.booking-button {
          background-color: transparent;
          margin-left: 0;
          border: none;
        }
      }
    }
  }
}
