.reservation {
  padding-bottom: $size-xl;
  .reservation-card {
    padding-top: $size-s;
    margin: $size-xs;
    background-color: $yellow-color;
    border-radius: $size-xs;
    &:nth-of-type(even) {
      background-color: $gray-color;
      color: $white-color;
    }
    .rank {
      font-family: $header-font;
      font-size: $size-ml;
      line-height: $size-ml;
      text-align: center;
      margin-bottom: 0
    }
    h3 {
      margin-top: 0;
    }
  }
}
