@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/reboot';
@import "../../node_modules/bootstrap/scss/transitions";
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import 'constants';
@import 'nav';
@import 'equipment';
@import 'contact';
@import 'order-process';
@import 'pricing';
@import 'blog';
@import 'footer';
@import 'business-revolution';

.front-hero-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: left;
}

p, li, ul, ol, a {
  color: $black-color;
  font-family: $bread-font;
  font-weight: 200;
}

strong {
  font-weight: 700;
}

h1, h2 {
  font-family: $header-font;
  font-size: calc(28px + 2vw);
  text-align: center;
  font-weight: 300;
  margin: 0 0 $size-m 0;
}

h3 {
  text-align: center;
  font-family: $bread-font;
  font-size: $size-sm;
  margin: $size-xs
}

a {
  color: $black-color;
  text-decoration: underline;
  text-decoration-color: $yellow-color;
  &:hover {
    color: $black-color;
    text-decoration-color: $yellow-color;
    opacity: 0.7;
  }
}

.small {
  max-width: 768px;
}

.description {
  background-color: $yellow-color;
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: center;
}

.events {
  padding: $size-l 0;
  @media (max-width: 767px) {
    .event-card {
      padding-bottom: $size-m;
    }
  }
}

.date-container {
  background-color: $yellow-color;
  padding: $size-s $size-m;
  .month {
    text-align: right;
    font-size: $size-sm;
  }
  .day {
    text-align: right;
    font-size: $size-m;
    margin-bottom: 0;
  }
}

.map {
  filter: grayscale(100%);
  margin-bottom: -6px;
}

.bread-partial {
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: left;
  img {
    width: 100%;
    border-radius: $size-s;
  }
  h1, h2 {
    margin-top: $size-m;
  }
}

