@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/reboot';
@import "../../node_modules/bootstrap/scss/transitions";
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import 'constants';
@import 'nav';
@import 'equipment';
@import 'staff';
@import 'order-process';
@import 'pricing';

.front-hero-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: left;
}

p, li, ul, ol, a {
  font-family: $bread-font;
  font-weight: 200;
}

h1, h2 {
  font-family: $header-font;
  font-size: calc(24px + 2vw);
  text-align: center;
  font-weight: 300;
  margin: 0;
}

h3 {
  text-align: center;
  font-family: $bread-font;
  font-size: $size-sm;
  margin: $size-xs
}

h1, h2 {
  margin-bottom: $size-ml;
  text-decoration: underline;
  text-decoration-color: $yellow-color;
}

.small {
  max-width: 768px;
}

.description {
  background-color: $yellow-color;
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: center;
}

.contact {
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: center;
  h2 {
    font-family: $bread-font;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: $size-xs;
  }
}

.events {
  padding: $size-l 0;
}

.date-container {
  background-color: $yellow-color;
  padding: $size-s $size-m;
  .month {
    text-align: right;
    font-size: $size-sm;
  }
  .day {
    text-align: right;
    font-size: $size-m;
    margin-bottom: 0;
  }
}

.map {
  filter: grayscale(100%);
  margin-bottom: -6px;
}

.bread-partial {
  padding: $size-l 0;
  font-size: 1.25rem;
  text-align: left;
  h1, h2 {
    margin-top: $size-m;
  }
}

footer {
  background-color: $gray-color;
  padding: $size-m 0 $size-s 0;
  color: $white-color;
  .footer-mail {
    font-size: $size-sm;
    margin-bottom: $size-m;
    text-align: center;
    a {
      text-decoration: underline;
      color: $white-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .copyright {
    text-align: center;
    font-size: $size-s;
    margin-bottom: $size-xs;
  }
  .some-links {
    text-align: center;
    img {
      height: $size-m;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .footer-links {
    text-align: center;
    a {
      text-decoration: underline;
      color: $white-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
