<section class="production">
  {{ $headlessbundle := .Site.GetPage "/sound-production" }}
  {{range ($headlessbundle.Resources.ByType "page")}}
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner ) }}
  {{ $resizedImage := $imageResource.Resize "x226 q80"}}
  <div class="container small">
    <h2 class="description-header">{{ .Params.Title }}</h2>
    <p>{{ .Content }}</p>
      <div class="row staff-row">
        <div class="col-sm-4">
          <img class="staff-picture" src="{{ $resizedImage.RelPermalink }}" alt="{{ .Params.alt }}">
        </div>
      <div class="col-sm-8 order-last contain-vertically">
        <div class="align-left">
          <p>{{ .Params.quote }}</p>
          <p>-{{ .Params.quoteBy }}</p>
        </div>
      </div>
    </div>
    </div>
  {{ end }}
</section>
