<section class="staff">
  <div class="container small">
    <h2>{{ .Params.staff_headline }}</h2>
    
      {{ $.Scratch.Set "counter" 0 }}
      {{ range .Params.staff }}
    
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .banner ) }}
        {{ $resizedImage := $imageResource.Fill "226x226 q80"}}
    
        {{ if eq .alignment "left" }}
          <div class="row staff-row">
            <div class="col-sm-4 staff-picture-container">
              <img class="staff-picture" src="{{ $resizedImage.RelPermalink }}" alt="{{ .alt }}">
            </div>
            <div class="col-sm-8 order-last contain-vertically">
              <div class="align-left">
                <p>{{ .title }}</p>
                {{ with .email }}
                  <p>
                    <a href="mailto:" id='email-{{$.Scratch.Get "counter"}}-left'>""</a>
                  </p>
                  <script>
                    setTimeout(() => {
                      const content = {{ range (split . "") }} "{{ . }}" + {{ end }} " "
                      const link = document.getElementById('email-{{$.Scratch.Get "counter"}}-left')
                      link.href = 'mailto:' + content
                      link.innerHTML = content
                    }, 1000);
                  </script>
                {{ end }}
                {{ with .phone }}
                <p><a href="tel:{{ . }}">{{ . }}</a></p>
                {{ end }}
              </div>
            </div>
          </div>
        {{ else }}
        <div class="row staff-row">
          <div class="col-sm-8 order-last order-sm-first contain-vertically">
            <div class="align-right">
              <p>{{ .title }}</p>
              {{ with .email }}
                <p>
                  <a href="mailto:" id='email-{{$.Scratch.Get "counter"}}-right'>""</a>
                </p>
                <script>
                  setTimeout(() => {
                    const content = {{ range (split . "") }} "{{ . }}" + {{ end }} " "
                    const link = document.getElementById('email-{{$.Scratch.Get "counter"}}-right')
                    link.href = 'mailto:' + content
                    link.innerHTML = content
                  }, 1000);
                </script>
              {{ end }}
              {{ with .phone }}
              <p><a href="tel:{{ . }}">{{ . }}</a></p>
              {{ end }}
            </div>
          </div>
          <div class="col-sm-4 staff-picture-container">
            <img class="staff-picture" src="{{ $resizedImage.RelPermalink }}" alt="{{ .alt }}">
          </div>
        </div>
        {{ end }}
      {{ end }}
  </div>
</section>
