<section class="staff">
  <div class="container small">
    <h1>Henkilökunta</h1>
      {{ $headlessbundle := .Site.GetPage "/staff" }}
      {{range ($headlessbundle.Resources.ByType "page")}}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner ) }}
        {{ if eq .Params.alignment "left" }}
          <div class="row staff-row">
            <div class="col-md-4">
              <img class="staff-picture" src="{{ $imageResource.RelPermalink }}">
            </div>
            <div class="col-md-8 contain-vertically">
              <div class="align-left">
                <p>{{ .Params.title }}</p>
                <p>{{ with .Params.email }}{{ . }}{{ end }}</p>
                <p>{{ with .Params.phone }}{{ . }}{{ end }}</p>
              </div>
            </div>
          </div>
        {{ else }}
        <div class="row staff-row">
          <div class="col-md-8 contain-vertically">
            <div class="align-right">
              <p>{{ .Params.title }}</p>
              <p>{{ with .Params.email }}{{ . }}{{ end }}</p>
              <p>{{ with .Params.phone }}{{ . }}{{ end }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <img class="staff-picture" src="{{ $imageResource.RelPermalink }}">
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
